<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoReservation.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AutoReservationEntities" connectionString="metadata=res://*/AutoReservation.csdl|res://*/AutoReservation.ssdl|res://*/AutoReservation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=AutoReservation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="AutoReservationServiceBehavior" name="AutoReservation.Service.Wcf.AutoReservationService">
        <endpoint binding="netTcpBinding" name="AutoReservationService" contract="AutoReservation.Common.Interfaces.IAutoReservationService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7876/AutoReservationService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AutoReservationServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:7876/AutoReservationService" binding="netTcpBinding" name="AutoReservationService" contract="AutoReservation.Common.Interfaces.IAutoReservationService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <AutoReservation.Ui.Properties.Settings>
      <setting name="ServiceLayerType" serializeAs="String">
        <value>AutoReservation.Ui.Factory.LocalDataAccessCreator</value>
        <!--<value>AutoReservation.Ui.Factory.LocalDataAccessCreator</value>-->
        <!--<value>AutoReservation.Ui.Factory.RemoteDataAccessCreator</value>-->
      </setting>
    </AutoReservation.Ui.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>